<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.iFAFUKYZZ"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.syllabus.SyllabusActivity" />
        <activity android:name=".ui.syllabus.GridSyllabusActivity" />
        <activity android:name=".ui.score.ScoreActivity" />
        <activity android:name=".ui.score.ElectiveScoreActivity" />
        <activity android:name=".ui.exam.ExamActivity" />
        <activity android:name=".ui.elective.ElectiveCourseActivity" />
        <activity android:name=".ui.elective.SimpleElectiveActivity" />
        <activity android:name=".ui.comment.CommentTeacherActivity" />
        <activity android:name=".ui.comment.DiscussionActivity" />
        <activity android:name=".ui.about.AboutActivity" />
        <activity android:name=".ui.web.WebActivity" />
        <activity android:name=".ui.toolbox.ToolboxActivity" />
        <activity android:name=".ui.toolbox.KyzzToolboxActivity" />
        <activity android:name=".ui.studentinfo.StudentInfoActivity" />
        <activity android:name=".ui.toolbox.PasswordModifyActivity" />
        <activity android:name=".ui.toolbox.TrainingPlanActivity" />
        <activity android:name=".ui.toolbox.GradeExamActivity" />
        <activity android:name=".ui.toolbox.OnlineRegistrationActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.query.CourseSelectionActivity" />
        <activity android:name=".ui.query.MakeupExamActivity" />
        <activity android:name=".ui.calculator.ScoreCalculatorActivity" />
        <activity android:name=".ui.review.CourseReviewActivity" />
        <activity android:name=".ui.timer.PomodoroTimerActivity" />
        <activity android:name=".ui.countdown.CountdownActivity" />
        <activity android:name=".ui.map.CampusMapActivity" />
        <activity android:name=".ui.scorecard.ScoreCardActivity" />
        <activity android:name=".ui.calendar.CalendarExportActivity" />
        <activity android:name=".ui.note.NoteListActivity" />
        <activity android:name=".ui.note.NoteEditActivity" />

        <receiver
            android:name=".widget.iFAFUWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ifafu_widget_info" />
        </receiver>

        <receiver
            android:name=".service.CourseReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".service.ScoreCheckReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.ElectiveCourseService"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
